.mainRow {
  height: 100vh !important;
  display: flex;
  justify-content: center;
  text-align: center;
}

.section1, .section2, .section3, .section4 {
  /* Gets rid of edges in columns */
  padding: 0px !important;
  transition: all 0.3s ease-in-out;
  height: 100vh;
  box-shadow: 0px 0px 25px black;
  border: 1px solid black;
}

.section1 {
  background-color: rgb(66, 0, 0);
}
/* YourComponent.css */

.section2 {
  background-color: rgba(139, 0, 0, 0.76);
}

/* Scale the section on hover */
.section1:hover, .section2:hover, .section3:hover, .section4:hover {
  z-index: 2; /* Bring the hovered section to the front */
  border: 1px solid rgba(255, 255, 255, 0.867);
  box-shadow: 0px 0px 60px black;
}

/* ========================================================== */

/* YourComponent.css */
.credits {
  position: fixed;
  top: 0;
  left: 0;
  display: flex; /* Use flexbox to arrange the elements */
  align-items: center; /* Vertically center the content */
  background-color: rgba(0, 0, 0, 0.233);
  color: white;
  padding: 5px;
  border: 1px solid #00000034;
}

/* Style the logo image */
.navbar-logo {
  width: 40px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add some spacing between the image and text */
  border-radius: 100px;
  border: 1px solid #00000079;
}

/* Style the text */
.credits p {
  margin: 0; /* Remove default margin to prevent extra spacing */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ======================================================= */
/* SECTION 1 */
/* ======================================================= */

/* YourComponent.css */

.headerPic {
  max-width: 80%;
  max-height: 100%;
  object-fit: contain;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  position: fixed;
  bottom: 0; /* Position the image at the bottom */
  left: 0;
  right: 0;
  filter: grayscale(0%);
}

/* Remove transform property from headerPic */


/* ======================================================= */
/* SECTION 2 */
/* ======================================================= */


/* ======================================================= */
/* SECTION 3/4 - AVATAR 1/2 */
/* ======================================================= */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* AVATAR TITLES */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Style the title to be at the top */
.avatarTitle {
  font-size: 50px;
  margin-top: 5vh; /* Adjust the margin-top as needed */
  font-weight: bold;
  color: rgba(255, 255, 255, 0.856);
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.918);
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.section3:hover .avatarTitle, .section4:hover .avatarTitle {
  margin-top: 9vh;
  font-size: 40px;
  opacity: 50%;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* COL SECTIONS */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Container Gradients and effects behind them */
.section3 {
  background: linear-gradient(to bottom, #2b3fbd, black); /* Create a vertical gradient from red to black */
}

.section3::before {
  background: linear-gradient(to bottom, #2b3fbd, #ffe5db); /* Create a vertical gradient from red to black */
}

.section4 {
  background: linear-gradient(to bottom, #ff741d, black); /* Create a vertical gradient from red to black */
}

.section4::before {
  background: linear-gradient(to bottom, #ff741d, #ffc39e); /* Create a vertical gradient from red to black */
}

.section3, .section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Create a pseudo-element for the gradient background */
.section3::before, .section4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0; /* Initially set opacity to 0 */
  transition: opacity 0.5s ease-in-out; /* Transition the opacity property */
}

.section3:hover::before, .section4:hover::before {
  opacity: 1; /* Set opacity to 1 on hover */
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* AVATAR VIDEO */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Style the video */
.AvatarVid1, .AvatarVid2 {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
  opacity: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
  transform: scale(3.4);
}

.section3:hover .AvatarVid1, .section4:hover .AvatarVid2 {
  opacity: 100%;
  filter: grayscale(0%);
  transform: scale(3.9);
  z-index: 1;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* AVATAR PICTURE */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Style the image */
.Avi1Pic, .Avi2Pic {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: all 0.5s ease-in-out;
  position: absolute;
  z-index: 1;
  bottom: 0; /* Position the image at the bottom */
  left: 0;
  right: 100px;
  margin: auto;
  filter: grayscale(0%);
}

.Avi1Pic {
  transform: scale(1.2);
}

.Avi2Pic {
  transform: scale(1.5);
}

/* When section 4 is hovered over, do this to Avi1Pic: */
.section3:hover .Avi1Pic, .section4:hover .Avi2Pic {
  opacity: 30%;
  z-index: 0 !important;
  transform: scale(6);
  filter: grayscale(100%);
}