body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./img/backgroundtest.jpg'); /* Replace with the actual path to your image */
  background-size: cover; /* Scale the image to cover the entire body element */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-attachment: fixed;
}